<form class="m-0" method="post" action="{{ path('app_event_delete', {'id': news.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce post ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news.id) }}">
    <button class="btn btn-danger mb-3">Supprimer</button>
</form>
