{% extends "base.html.twig" %}
{% block body %}

<h1 class="text-primary">Bonjour {{ userFirstname }} {{ userLastname }}</h1>
<p>Toute l'équipe du restaurant 'Les Tuileries' vous remercie pour votre achat, vous trouverez en pièce jointe votre carte cadeau d'une valeur de {{ amount }}€.</p>
<p>A bientôt chez nous.</p>
{% endblock %}