{% extends 'backoffice.html.twig' %}

{% block title %}Nouvelle carte{% endblock %}

{% block main %}
    <h1>Creation d'une carte cadeaux</h1>

    {{ include('card/_form.html.twig') }}

     <a class="btn btn-primary my-5"href="{{ path('app_card_index') }}">Retour à la liste</a>
{% endblock %}
