body {

    background-color: #323232;
    color: antiquewhite;
    text-align: center;
}

h1 {
    font-weight:bold;
    margin: 2rem 3rem;
}

.container {
    margin: auto;
}

.card-common {
    min-width: 280px; 

}

.containlogin {
    max-width: 200px!important;
}

.cardhome {
    min-width: 700px;
}

#home_button {
    text-decoration: none!important;
    background-color: #ebae77;
    font-weight:bold ;  
    color: #323232;
}

form {
    margin: auto;
    max-width: 800px;
}

.gall {
    background-color: #212529;
    
}

.galleryadmin {
    min-height: 180px;
    max-height: 220px;
}

.badge{
    text-decoration: none;

}

.infos {
    margin: auto;
    
}


.card {
    margin: 3rem auto; /* Added */
    float: none; /* Added */
    text-decoration:none;
}

.cloud{
    font-size: 3em !important;
}

.historical {
font-size: small;
}


.cardevent{
    border:none;
    background-color: rgb(39, 39, 39);
    font-family: "Poppins", sans-serif;font-weight: 300;
}
.ellipsis
{color: #a09c9c}hr  
{color: #a09c9c;margin-top: 4px;margin-bottom: 8px}
.muted-color
{color: #a09c9c;font-size: 13px}.ellipsis i{margin-top: 3px;cursor: pointer}
.icons i
{font-size: 25px}

.rounded-image
{border-radius: 50%!important;display: flex;justify-content: center;align-items: center;height: 50px;width: 50px}
.name{font-weight: 600}.comment-text{font-size: 12px}.status small{margin-right: 10px;color: blue}
.form-control{border-radius: 26px}.comment-input{position: relative}.fonts{position: absolute;right: 13px;top:8px;color: #a09c9c}
.form-control:focus{color: #495057;background-color: #fff;border-color: #8bbafe;outline: 0;box-shadow: none}

.form-signin {
    
    max-width: 430px;
    padding: 15px;
    background-color: #323232;
    border-radius: 12px;
    margin-top: 5rem!important;
    
}

.form-signin .form-floating:focus-within {
    z-index: 2;
    
    
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    background-color: #424242;
    color: #ebae77!important;
    font-weight: bold;
    
    
}


.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #424242;
    color: #ebae77!important;
    
}


.popupbutton {
    background-color: #198754;
    color: #fff;
}

.custom-checkbox {
    text-align: center;
    width: 2rem ;
    height: 2rem;
    background-color: #242424!important;
}

.custom-checkbox[checked="checked"] {
    text-align: center;
    width: 2rem ;
    height: 2rem;
    background-color: #ebae77!important;
   
}