{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if is_granted('ROLE_ADMIN') %}
        <button class="btn btn-sucess popupbutton">{{ button_label|default('Enregistrer les modifications') }}</button>
    {% else %}
        <a class ="btn btn-secondary my-2" href="">Bouton de modification désactivé</a>
    {% endif %}
{{ form_end(form) }}
