{% for type, messagesByType in app.flashes %}
    {% for message in messagesByType %}
        <div class="alert alert-{{ type }} alert-dismissible fade show mx-4" role="alert">
            {{ message|raw }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}